* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.body-main {
	font-family: "Inter", sans-serif;
	background: #FFFFFF
		
}

.d1 {
	background-color: #B5E1C6;
	width: 100%;
	height: 50px;
	position: relative;
	font-style: normal;
	
}
.d2{
	background-color: #B5E1C6;
	width: 100%;
	height: 100%;
	position: relative;
	font-style: normal;
	
}

.header-main {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Configuracion de imagen */

.im-ret{
	width: 270px;
	padding-right: 20%;	
}

.im-ret1{
	width: 220px;
	padding-right: 20%;	
}

/* Configuracion de imagen */

.box0{
	display: flex;
	flex-direction: row;
    align-items: center;
	text-align: center;
}

.box1 {
	display: flex;
	flex-direction: column;
    align-items: center;
	text-align: center;
}

/* Estilos de texto */


.h1-1 {
	color: #042746;
	text-align: left;
	padding: 10px 20px;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
}

.h2-1 {
	color: #042746;
	text-align: left;
	padding: 10px 20px;
	font-size: 26px;
	font-style: normal;
	font-weight: 200;
}

.h2-2-sesion {
	color: #042746;
	text-align: left;
	padding: 10px 20px;
	font-size: 22px;
	font-style: normal;
	font-weight: 200;
}


.h3-1 {
	color: #042746;
	text-align: justify;
	padding: 10px 20px;
	padding-right: 10%;
	font-size: 15px;
	font-style: normal;
	font-weight: 200;
}


.h1-2 {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 33px;
	font-style: normal;
	font-weight: 700;
}

/* Estilos de texto */


/* Estilos para los botones */

.nav-buttons {
    display: flex;
    gap: 10px;
	font-size: 26px;
}
.nav-buttons button {
    background-color:#FFFFFF;
    color: #042746;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.se-buttons {
    display: flex;
    gap: 10px;
}
.se-buttons button {
    background-color:#4B5D6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.reg-buttons-style {
    display: flex;
    gap: 10px;
	padding-left: 15px;
}
.reg-buttons-style button {
    background-color:#4B5D6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.reg-buttons1-style {
	display: flex;
	gap: 20px;
	padding-left: 15px;
	
}
.reg-buttons1-style button {
	background-color: #4B5D6D;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	font-style: normal;
	width: 250px;
	height: 50px;	
}

/* Estilos para los botones */



/* Estilos adicionales */

div.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav1{
	display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px; 
}

.ig1 {
	max-width: 100px;
	height: auto;
}

z1, z2, z3, z4 {
   	color: #042746;
	text-align: justify;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 15px;
	font-style: normal;
	font-weight: 200;
}

/* Estilos adicionales */
