.body-sesion {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E6FAF0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.box1-main {
	display: flex;
	flex-direction: column;
    align-items: left;
	text-align: center;
}


.atras-buttons-style {
    display: flex;
    gap: 10px;
	padding-left: 15px;
}
.atras-buttons-style button {
    background-color: #495A6B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 10%;
}

.logo h1 {
    font-size: 24px;
    margin: 10px 0;
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    background-color: #A3B1C6;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.active {
    background-color: #495A6B;
}

.btn:hover {
    background-color: #7B8AA1;
}

.login-form {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #495A6B;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #7B8AA1;
}

.forgot-password {
    display: block;
    color: #495A6B;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}