    <div class="responsive-style">
        <header class="header-main">
          <div class="logo">
            <img src="assets/v84_5.png" width="100px" height="10%" alt=""/>
          </div>
          <nav class="nav-buttons">
            <a routerLink="/inicio"><button type="button">INICIO</button></a>
            <a routerLink="/mensajes"><button type="button" class="btn-js1 class4">MENSAJES</button></a>
            <a routerLink="/calificacion-propietario"><button type="button">RESEÑAS</button></a>
            <a routerLink="/publicar"><button type="button">PUBLICAR</button></a>
            
          </nav>
          <nav class="se-buttons">
            <a routerLink="/sesion-registro"><button type="button" class="btn-js1 class1">INICIAR SESIÓN</button></a>
          </nav>
        </header>
      </div>
      
      
      <router-outlet></router-outlet>
      
