<div class="responsive-style">

    <header class="header-main">
            <div class="logo">
          
            <img src="assets\v84_5.png" width="100px" height="10%" alt=""/></div>
            <nav class="nav-buttons">
                <button type="button">INICIO</button>
                <button type="button" class="btn-js1 class4" >MENSAJES</button>
                <button type="button">RESEÑAS</button>
                <button type="button">¿QUIENES SOMOS?</button>
            </nav>
            
            <nav class="se-buttons" >
                <button type="button" class="btn-js1 class1">INICIAR SESIÓN</button>
            </nav>
                
    </header>