<!-- Separador de espacio entre bloques -->		
	
	
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
	
<!-- Separador de espacio entre bloques -->		
<div class="box0">	
	<div>
	  <span>
		  
	  <h1 class="h1-1">Encuentra tu hogar perfecto! </h1>
	  <h2 class="h2-1">Un clic más cerca de tus sueños</h2>
	  <h3 class="h3-1">Sabemos lo importante que es encontrar ese lugar especial que se adapte a  tus necesidades y estilo de vida. Ya sea que estés buscando una casa,  un apartamento, o un lugar para tu negocio, estamos aquí para ayudarte a  encontrar la propiedad ideal</h3>
		  
	  </span>
	  <div>&nbsp;</div>
		
	  <div class="reg-buttons-style">
				<button type="button" class="btn-js1 class2">REGISTRARSE</button>
			</div>
	
	</div>
		
	<div>
	<img class="im-ret" src="assets/v89_60.png" alt="">
	</div>
	
</div>
<div>
	<h2 class="h2-1">Por qué elegirnos:</h2>
	<div class="box1">
		
	  
	    <nav class="nav1">
	      <div class="nav-item">
	                <img src="assets/v91_66.png" alt="">
	                <div class="z1">Comunicacion directa, no intervencion de terceros.</div>
	            </div>
	            <div class="nav-item">
	                <img src="assets/v93_70.png" alt="">
					<div class="z1">Revisa tu contrato desde la misma pagina</div>
	      </div>
	      <div class="nav-item">
	                <img src="assets/v93_72.png" alt="">
			  
					<div class="z1">Seguridad de tus datos asegurada</div>
	            </div>
	      <div class="nav-item">
	                <img src="assets/v93_74.png" alt="">
					<div class="z1">Paga directamente desde la app </div>
	            </div>
	  </nav>
		
	</div>
</div>
<!-- Separador de espacio entre bloques -->		
	
	
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
	
<!-- Separador de espacio entre bloques -->		
<div>
	<h2 class="h2-1">Clientes satisfechos:</h2>
	<div class="box1">
		
	  
	    <nav class="nav1">
	      <div class="nav-item">
			  <img src="assets/v94_83.png" alt="">
			  <div class="z1">RentEase ha simplificado mi vida. Encontré el departamento perfecto en menos de una semana y todo el proceso fue increíblemente suave. ¡Definitivamente recomendaría esta app a cualquiera que busque alquilar sin complicaciones! - María G., Estudiante de Arquitectura</div>
          </div>
			
	      <div class="nav-item">
	          <img src="assets/v94_84.png" alt="">
			  <div class="z1">Como propietario, RentEase me ha ayudado a gestionar mis propiedades de manera eficiente. La interfaz es intuitiva y me permite conectar con inquilinos potenciales de manera rápida. Es la herramienta que necesitaba para expandir mi negocio de alquileres. - Carlos R., Propietario de Inmuebles</div>
	      </div>
	      <div class="nav-item">
			  <img src="assets/v94_85.png" alt="">
			  <div class="z1">¡Estoy encantada con RentEase! La variedad de opciones y los filtros detallados me permitieron encontrar exactamente lo que necesitaba. Además, el soporte al cliente es excepcional. Es la mejor plataforma de alquiler que he usado. - Sofia A., Diseñadora Gráfica</div>
	      </div>
	  
	  </nav>
		
	</div>
</div>
<!-- Separador de espacio entre bloques -->		
	
	
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
	
<!-- Separador de espacio entre bloques -->		
<div class="d2">
	
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	
	<h1 class="h1-2">¡ Descubre la comodidad y la libertad de nuestro servicio de alquiler! Ahorra tiempo y dinero con nuestras opciones flexibles y personalizadas ! </h1>
	
	<div>&nbsp;</div>
  	<div>&nbsp;</div>
	
	<div class="box0">
		
		<div style="padding-left: 10%; padding-right: 5%">
			
			<div class="reg-buttons1-style">
				<button type="button" class="btn-js1 class3">REGISTRARSE</button>
			</div>
			
	  	</div>
		
	  <div style="padding-left: 10%; padding-right: 5%">
		  <img class="im-ret1" src="assets/v101_428.png" alt="">
		</div>
	
  	</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
	
</div>