<div class="msg">
    <div class="container">
        <header>
			<div >
				<button class="back-btn" id="msgBacktoMain" >ATRÁS</button>
			</div>
			
            <img src="assets/v84_5.png" alt="RentEase" class="logo">
        </header>
        <main>
            <div class="property-info">
                <img src="assets/casa.jpg" alt="Casa de 5 habitaciones" class="property-image">
                <p class="property-description">Casa de 5 habitaciones</p>
            </div>
            <div class="chat-box" id="chat-box">
                <div class="message agent-message">
                    Hola, ¿que información desearias saber?
                </div>
            </div>
        </main>
        <footer>
            <input type="text" placeholder="mensaje..." class="message-input" id="message-input">
            <button class="send-button" id="send-button">✔</button>
        </footer>
    </div>
    <script src="script/script_msg.js"></script>
</div>